<nav class="navbar">
    <div class="logo-container">
        <div class="logo">Book Notes</div>
        <!-- <i class="fa fa-book-open" aria-hidden="true"></i> -->
    </div>
    <ul>
        <li><a href="/notes">Home</a></li>
        <li><a href="/notes/individuals">My DashBoard</a></li>
        <li><a href="/notes/favourite">See Favourite</a></li>
        <li><a href="/notes/new">Create Note</a></li>
        <li><a href="/notes/login">Login</a></li>
        <li><a href="/notes/signup">Signup</a></li>
    </ul>
</nav>
