<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enter new note here !</h2>
    <div>
        <form action="" method="">

            <textarea name="content" id="content"></textarea>

        </form>
    </div>
</body>
</html>